{% extends "layout.html" %} {% block content %}
<body>
  <div class="function-container">
    <div class="row justify-content-center">
      <div class="col-6 text-start">
        <h2 class="text-center">Add a New Staff</h2>
        <br />

        <form
          class="row g-3"
          action="{{ url_for('manager.add_staff')}}"
          method="post"
        >
          <div class="col-md-6">
            <label for="username">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="password">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="col-12">
            <label for="title">Title:</label>
            <select id="title" class="form-select" name="title">
              <option value="Mr">Mr</option>
              <option value="Mrs">Mrs</option>
              <option value="Miss">Miss</option>
              <option value="Ms">Ms</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="firstname">Firstname:</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              name="firstname"
              pattern="[a-zA-Z]+"
              title="Invalid Firstname!"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="lastname">Lastname:</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="lastname"
              pattern="[a-zA-Z]+"
              title="Invalid Lastname!"
              required
            />
          </div>
          <div class="col-12">
            <label for="phone">Phone Number:</label>
            <input
              type="tel"
              class="form-control"
              id="phone"
              name="phone"
              required
            />
          </div>
          <div class="col-12">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="example@mail.nz"
              required
            />
          </div>
          <div class="col-12">
            <label for="joindate">Date of Join:</label>
            <input
              type="date"
              class="form-control"
              id="joindate"
              name="joindate"
              required
            />
          </div>
          <div class="col-12">
            <div class="msg">{{ msg }}</div>
          </div>
          <div class="text-center col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="redirectToProfile()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

<script>
  function redirectToProfile() {
    window.location.href = "{{ url_for('manager.manage_staff') }}"
  }

  document.querySelector("form").addEventListener("submit", function (event) {
    var phoneInput = document.getElementById("phone")
    var phonePattern = /^(0[2-9]\d{2}-?\d{3}-?\d{3}|0[2-9]\d{8})$/

    if (!phonePattern.test(phoneInput.value)) {
      event.preventDefault()
      document.querySelector(".msg").innerText =
        "Invalid phone number format. Please enter a valid New Zealand phone number."
    }
  })
</script>
{% endblock %}
